body {
	background-image: url(/img/background.png);
	overflow-x: hidden;
}
/*.navbar {
	background-color: white;
	padding-top: 1%;
}*/
a {
	color: black;
}
a:hover {
	color:black;
	text-decoration: none;
}
.topnavbar {
	/*background-color: white;*/
}
.navarea {
	margin-top: -.5%;
	background-color: white;
	padding-top: 1%;
	padding-bottom: 1%;
}
.navarea:hover {
	background-color: #ddd;
}
.footer {
	background-color: white;
	/*margin-top: 10%;*/
	/*position: fixed-bottom;*/
}
.heading {
	text-decoration: underline;
}
.footline {
	text-decoration: underline;
}
.disclaimer {
	font-size: 10px;
}
.logo {
	height: 30%;
	width: 30%;
}
.reflex {
	height: 100%;
	width: 81%;
}
.bottomsection {
	margin-bottom: 15%;
}
.about {
	background-color: white;
	/*margin-top: 20%;*/
	font-family: palatino linotype,serif;
}