body {
	background-image: url(/img/background.png);
}
.navbar {
	background-color: white;
}
.footer {
	background-color: white;
	margin-top: 10%;
	/*position: fixed-bottom;*/
}
.footline {
	text-decoration: underline;
}
.disclaimer {
	font-size: 10px;
}
.logo {
	height: 30%;
	width: 30%;
}